# apps/web/.env.example
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=your_project_id_here
NEXT_PUBLIC_GAME_CONTRACT=0xCf5E5d01ADd5e2Ba62B2f6747E5CFC43e36D5005
NEXT_PUBLIC_C4C_TOKEN=0xaac20575371de01b4d10c4e7566d5453d72d56e7
NEXT_PUBLIC_PINKSALE_URL=https://www.pink.meme/token/bsc/0xaac20575371de01b4d10c4e7566d5453d72d56e7